@use "@carbon/react/scss/spacing" as *;

.headerWrapper {
    margin-top: $spacing-04;
    margin-bottom: $spacing-02;
}
.gridItem {
    margin-bottom: $spacing-05;
}

.contentWrapper {
    background-color: #f4f4f4;
}
.headerWrapper{
    background-color: white;
}