@use "@carbon/react/scss/spacing" as *;

.headerWrapper {
    padding-top: $spacing-04;
    padding-bottom: $spacing-02;
    background-color: white;
}
.gridItem {
    margin-bottom: $spacing-05;
}

.contentWrapper {
    background-color: #f4f4f4;
    min-height: 100vh;
}