@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/breakpoint" as *;

.gridItem {
    margin-bottom: $spacing-05;
}
.icon {
    // background-color: #f4f4f4;
    width: $spacing-07;
    height: $spacing-07;
    cursor: pointer;
    padding: $spacing-02;
}
.iconBox {
    display: flex;
    height: $spacing-08;
    align-items: center;
    gap: $spacing-04;
    @include breakpoint-down(lg) {
        gap: $spacing-01;
        margin: auto;
    }
    .icon {
        padding: $spacing-02;
        transition: 0.2s;
        border-radius: $spacing-02;
    }
}

.card {
    background-color: white;
    margin: $spacing-02;
    padding: $spacing-05;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .content {
        display: grid;
        transition: 2s;
        .icon {
            color: red;
        }
        .animate {
            animation: liked 0.5s ease;
        }
        .headingSkeleton {
            height: $spacing-06;
            margin-top: $spacing-05;
        }
        .paragraphSkeleton {
            margin-bottom: 0;
            height: $spacing-04;
        }
    }
    .gridContent {
        grid-template-columns: 1fr 1fr;
        .icon {
            grid-area: 2 / 2 / span 3 / 2;
            margin: auto;
            margin-right: $spacing-02;
        }
        .pokemonImage {
            grid-column: 1 / span 2;
        }
    }
    .listContent {
        grid-template-columns: auto 1fr 1fr;
        column-gap: $spacing-05;
        .icon {
            margin: auto;
            margin-right: $spacing-02;
            grid-row: 1 / 3;
            grid-column: 3;
        }
        .pokemonImage {
            grid-row: 1 / span 2;
            width: 100px;
            height: 100px;
            margin-left: 0;
        }
        h3 {
            margin-top: auto;
        }
    }
}

.pokemonImage {
    object-fit: contain;
    transition: all 0.2s;
    margin: auto;
    width: 160px;
    height: 160px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        transform: scale(1.05);
        transform-origin: bottom;
    }
}
.activeIcon {
    background-color: lightgray;
}

@keyframes liked {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
