@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/spacing" as *;

.gridItem {
    margin-bottom: $spacing-05;
}
.icon {
    // background-color: #f4f4f4;
    width: $spacing-07;
    height: $spacing-07;
    cursor: pointer;
}
.iconBox {
    display: flex;
    height: $spacing-08;
    align-items: center;
    gap: $spacing-06;
    @include breakpoint-down(lg) {
        gap: $spacing-02;
    }
}

.card {
    
}